body {
  font-size:100%;
}

::-webkit-scrollbar {
  width:6px;
}
::-webkit-scrollbar-track {
  background:#E3C7DC;
}
::-webkit-scrollbar-thumb {
  background:#966F8B;
}
::-webkit-scrollbar-thumb:hover {
  background:#73566B;
}

.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:4px;
    border-color:#604559;
    background-color:#966F8B;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:1px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
    text-align:center;
    overflow:auto;
  }

#title {
  margin:-2px auto 4px;
  font-family:monospace;
  font-size:5.5em;
  text-decoration:underline;
}

#lissaCanv {
  background-color:#F0D2E8;
  margin:2px auto 0px;
  border:none;
  display:block;
}

#paramsDiv1, #paramsDiv2, #eqDiv, #modDiv {
  display:block;
  text-align:center;
}
  #paramsDiv1, #paramsDiv2 {
    margin:0 auto;
    padding:5px 0px 5px;
  }
  #eqDiv {
    margin:3px auto -3px;
    padding:0px 0px;
    border-radius:3px;
  }
  #modDiv {
    margin:0px auto;
    padding:5px 0px 5px;
  }


#xEq, #yEq {
  display:inline-block;
  margin:0 auto;
  font-family:monospace;
  font-size:16px;
  background:#E3C7DC;
}
  #xEq {
    border-right:1px dotted black;
    margin-right:-3px;
    color:#000000;
  }
  #yEq {
    border-left:1px dotted black;
    margin-left:-3px;
    color:#000000;
  }
  #xFreq-disp {

  }
  #yFreq-disp {

  }
  #xScale-disp {

  }
  #yScale-disp {

  }
  #d-disp {

  }

.paramInput {
  display:inline-block;
  -webkit-appearance:none;
  appearance:none;
  outline:none;
  opacity:.75;
  transition:opacity .15s;
  margin:2px auto;
  background:#BB94B0;
  border-radius:3px;
}
  .paramInput:hover {
    opacity:1;
  }
  .paramInput::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance:none;
    width:24px;
    height:24px;
    cursor:pointer;
    border-radius:3px;
  }
    #xFreq::-webkit-slider-thumb {
      background:#6A4086;
    }
    #yFreq::-webkit-slider-thumb {
      background:#A42F2B;
    }
    #xScale::-webkit-slider-thumb {
      background:#777777;
    }
    #yScale::-webkit-slider-thumb {
      background:#1E1E1E;
    }
    #pShift::-webkit-slider-thumb {
      background:#117536;
    }
    #modDest1::-webkit-slider-thumb {
      background:#6A4086;
    }
    #modSpeed1::-webkit-slider-thumb {
      background:#4A68A9;
    }
    #modShape1::-webkit-slider-thumb {
      background:#FFF688;
    }
  .paramInput::-moz-range-thumb {
    width:24px;
    height:24px;
    background:#8C6781;
    cursor:pointer;
  }
  .full {
    height:20px;
    width:97%;
  }
  .half {
    height:20px;
    width:48%;
  }
  .thirds {
    height:20px;
    width:31.6%
  }
    #xFreq::-moz-range-thumb {
      background:#6A4086;
    }
    #yFreq::-moz-range-thumb {
      background:#A42F2B;
    }
    #xScale::-moz-range-thumb {
      background:#777777;
    }
    #yScale::-moz-range-thumb {
      background:#1E1E1E;
    }
    #pShift::-moz-range-thumb {
      background:#117536;
    }
    #modDest1::-moz-range-thumb {
      background:#6A4086;
    }
    #modSpeed1::-moz-range-thumb {
      background:#4A68A9;
    }
    #modShape1::-moz-range-thumb {
      background:#FFF688;
    }
