body {
  font-size:100%;
}

.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:15px;
    border-color:#604559;
    background-color:#966F8B;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:10px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:5px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
    text-align:center;
  }

#title {
  margin:0em auto 4px;
  font-family:monospace;
  font-size:5.5em;
  text-decoration:underline;
  max-width:421px;
}

#lissaCanv {
  background-color:#F0D2E8;
  margin:0 auto;
  border:none;
  display:block;
}

#paramsDiv, #eqDiv{
  display:block;
  text-align:center;
  max-width:421px;
}
  #paramsDiv {
    margin:0 auto;
    padding:5px 0px 0px;
  }
  #eqDiv {
    margin:-2px auto 2px;
    padding:0px 0px;
  }

#xEq, #yEq {
  display:inline-block;
  margin:0 auto;
  font-family:monospace;
  font-size:16px;
  background:#E3C7DC;
}
  #xEq {
    border-right:1px dotted black;
    margin-right:-3px;
  }
  #yEq {
    border-left:1px dotted black;
    margin-left:-3px;
  }

.paramInput {
  height:20px;
  display:inline-block;
  -webkit-appearance:none;
  appearance:none;
  outline:none;
  opacity:.85;
  transition:opacity .15s;
  margin:2px auto;
  background:#BB94B0;
}
  .paramInput:hover {
    opacity:1;
  }
  .paramInput::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance:none;
    width:24px;
    height:24px;
    background:#8C6781;
    cursor:pointer;
  }
  .paramInput::-moz-range-thumb {
    width:24px;
    height:24px;
    background:#8C6781;
    cursor:pointer;
  }
  .full {
    width:97%;
  }
  .half {
    display:inline-block;
    width:48%;
  }
  #xScale {

  }
  #yScale {

  }
  #pShift {

  }
